*.codekit
*.codekit3
*.log
*.md
*.tmp
*.scssc
*.map
.DS_Store
GeoIP.dat
GeoIPv6.dat
leads.csv
wp-config.php
.htaccess
*.codekit
error_log
.sass-cache
*.sass-cache
nbproject/
wp-content/uploads
gulpfile.js
package.json
node_modules/
license.txt
readme.html
phpinfo.php
php_errorlog
default.htm
*.zip
wp-snapshots/